    <%- include("../partials/head.ejs")%>   
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/header.ejs") %>
    <h1>This is about page</h1>

    <%- include("../partials/footer.ejs") %>
    <%- include("../partials/foot.ejs") %>